@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #8C3333;
}

.logo {
    font-size: 20px;
    transition: 0.5s ease-in-out;
    color: #F2EE9D;
    font-weight: 700;
}

.logo:hover {
    color: #FAF3F0;
}

.right-links {
    display: flex;
    gap: 25px;
}

.right-links li a {
    color: #F2EE9D;
    letter-spacing: 1px;
}

.right-bar {
    display: none;
}

.active a {
    color: #FAF3F0 !important;
}

.right-bar {
    width: 36px;
    height: 35px;
    border: none;
    background: none;
}

.right-bar::before,
.right-bar .span-bar,
.right-bar::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    margin: 5px 0px;
    border-radius: 2px;
    background-color: #F2EE9D;
}

@media(max-width:992px) {
    .right-side {
        display: none;
    }

    .right-bar {
        display: block;
    }
}